h1 {
	font-family: 'Permanent Marker', cursive;
		font-family: 'Signika', sans-serif;

	//font-size: 2.5rem;
	font-size: 1.6rem;
	margin: 10px 0px;
}

h3 {
	font-family: 'Signika', sans-serif;
	font-size: 1rem;
	color: white;
	margin: 10px 0px;
}

h1 {
	position: relative;
	z-index: 1;
}

h3 {
	position: relative;
	z-index: 1;
}

html {	
	  font-size: 200%;
	  background-color: #888888;
}

body {
	margin: 0px;
	background-color: #f1ecf3;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4em;
}

div.background {
	width: 100%;
	height: 100%;
	margin: 0px;
	position: absolute;
}	

div.skin {
	position: absolute;
	background-color: #f1ecf380;
}

img.background {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 60% 0px;
}

div.content {
	position: absolute;
	right: 40%;
	max-width: 35vw;
	background-color: #333333a0;
	padding: 2rem;
	padding-right: calc(2rem + 30px);
	box-shadow: -10px -10px 20px 5px #ffffff50,
				 10px  10px 20px 5px #00000050;
}

@media screen and (max-aspect-ratio: 1/1) {
	div.content {
		top: 30px;
	}
}

@media screen and (max-width: 700px) {
	html {
		font-size: 250%;
	}
}

div.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: center;
	align-content: center;
	line-height: 1.2rem;
}

.spacer {
	height: 30px;
}

a.link {
	position: relative;
	z-index: 1;
	font-size: .8rem;
	font-family: 'Signika', sans-serif;
	color: #00000090;
	margin: 0px 5px;
	//margin-right: auto;
	margin-left: 0px;
	flex-grow: 1;
	text-align: center;
}

.orange {
	color: darkorange;
}

.cs {
	color:	#41b9e1;
}

.ucla {
	color: gold;
}

.programming {
	color: #dd3c8c;
}

.guitar {
	color: #50df20;
}