h1 {
	font-family: 'Permanent Marker', cursive;
		font-family: 'Signika', sans-serif;

	//font-size: 2.5rem;
	font-size: 1.6rem;
	margin: 10px 0px;
}

h3 {
	font-family: 'Signika', sans-serif;
	font-size: 1rem;
	color: white;
	margin: 10px 0px;
}

h1 {
	position: relative;
	z-index: 1;
}

h3 {
	position: relative;
	z-index: 1;
}

html {	
	  font-size: 200%;
	  background-color: #888888;
}

body {
	margin: 0px;
	background-color: #f1ecf3;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4em;
}

div.background {
	width: 100%;
	margin: 0px;
	position: absolute;
	top: 100px;
	bottom: 100px;
}	

div.skin {
	position: absolute;
	background-color: #f1ecf380;
}

img.background {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 60% 0px;
}

div.content {
	position: absolute;
	left: 100px;
	top: 100px;
	bottom: 100px;
	max-width: 35vw;
	background-color: #333333a0;
	padding: 2rem;
	box-shadow: -10px -10px 20px 5px #ffffff50,
				 10px  10px 20px 5px #00000050;
				 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.content-header { grid-area: header; }

.content-content {
	grid-area: content;
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: center;
	align-content: center;
}

.content-footer {
	grid-area: footer;
}

@media screen and (max-aspect-ratio: 1/1) {
	html {
		font-size: 100%;
	} 
	
  div.content {
	top: 40%;
	bottom: 10%;
    left: 10%;
	right: 10%;
	max-width: unset;
	/*max-height: 35vw;*/
  }
  
  div.background {
	height: 100%;
	width: unset;
	top: unset;
	bottom: unset;
	left: 10%;
	right: 10%;
  }	
}

div.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: center;
	align-content: flex-end;
	line-height: 1.2rem;
	margin-right: 20px;
}

.spacer {
	height: 30px;
}

a.link {
	position: relative;
	z-index: 1;
	font-size: .8rem;
	font-family: 'Signika', sans-serif;
	color: #00000090;
	margin: 0px 5px;
	//margin-right: auto;
	margin-left: 0px;
	flex-grow: 1;
	text-align: center;
}

.orange {
	color: darkorange;
}

.cs {
	color:	#41b9e1;
}

.ucla {
	color: #ffee20;
}

.programming {
	color: #ff66bb;
}

.guitar {
	color: #80ff50;
}
